{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -euo pipefail

if [ ! -d "$HOME/.nvm" ]; then
    echo "Installing nvm..."
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
fi
{{ end -}}
