{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "oh-my-openagent@latest"
  ],
  "provider": {
    "opencode": {
      "models": {
        "deepseek-v4-flash": {
          "interleaved": { "field": "reasoning_content" }
        },
        "deepseek-v4-pro": {
          "interleaved": { "field": "reasoning_content" }
        }
      }
    },
    "opencode-go": {
      "models": {
        "deepseek-v4-flash": {
          "interleaved": { "field": "reasoning_content" }
        },
        "deepseek-v4-pro": {
          "interleaved": { "field": "reasoning_content" }
        }
      }
    }
  }
}
